body {
    background-color:  #ecf2f9;
}
.firstblock {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.block1 {
    order: -1;
}
.block2 {
    order: -1;
}
.block3 {
    order: -2;
}
.block4 {
    order: 1;
}
/* .secondblock {
    display: flex;
    justify-content: center;
} */

.block5 {
    order: -1;
}
.block6 {
    order: -5;
}
.block7 {
    order: 1;
}
.block8 {
    order: 1;
}

.firstblock > div {
    width: 270px;
    border: none;
    border-radius: 5px;
    background-color: white;
    margin: 40px 20px 0 20px;
    padding: 20px;
    box-shadow: 2px 2px 14px -1px rgba(196,196,196,0.45);
}
/* .secondblock > div {
    width: 270px;
    border: none;
    border-radius: 5px;
    background-color: white;
    margin: 10px 20px 10px 20px;
    padding: 20px;
    box-shadow: 2px 2px 14px -1px rgba(196,196,196,0.45);
} */


h1, h3, p {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding: 5px 15px 5px 15px;
}
h1 {
    letter-spacing: 3px;
    font-weight: normal;
}
h3 {
    color: #cccccc;
    text-transform: lowercase;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 3px;
}
p {
    color: #afb3b3;
    font-size: 14px;
    text-align: center;
    line-height: 1.8;
}
.name {
    color: black;
    font-weight: bold;
}
.address {
    font-size: 12px;
}
img {
    width: 80px;
    border: 1px solid white;
    border-radius: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
i {
    border: 1px solid #dce1e3;
    border-radius: 60%;
    padding: 6px;
    color: #dce1e3;
    margin-left: 10px;
    margin-bottom: 10px;
}
.fas {
    border: none;
    color: #dce1e3;
}
.fa-facebook-f {
    padding: 6px 10px 6px 10px;
    margin-left: 60px;
}